body {
	background: #020202;
	color: #f5f5f5;
	margin: 0; padding: 0;
	font-family: "PT Sans", "Open Sans", "Tahoma", "Verdana", Sans-Serif;
	padding-top: 200px;
	padding-bottom: 75px;
}

a {
	color: #f5f5f5;
}

h1, h2 {
	margin-top: 3px;
	margin-bottom: 5px;
}

h3 {
	font-weight: normal;
	margin: 0;
	margin-top: 7px;
	margin-bottom: 3px;
}

header {
	width: 800px;
	height: 200px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -400px;
	background: #020202;
}

content {
	font-size: 12pt;
}

#fullscreen-visuals {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	margin: 0; padding: 0;
	display: none;
}

#settings-icon {
	height: 30px;
	width: 30px;
	position: fixed;

	top: 0; right: 0;

	padding: 10px;

	display: block;
	stroke: #f5f5f5;
	fill: #f5f5f5;
	cursor: pointer;

	z-index: 50;
}

#settings, #settings-overlay {
	display: none;
}

#settings-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(128, 128, 128, 0.6);
	z-index: 999;
}

#settings {
	z-index: 1000;
	background: #020202;

	position: fixed;
	left: 50%;
	top: 50%;
	width: 600px;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 11pt;
}

#settings-header {
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid #f5f5f5;
	height: 40px;
}

#settings-header-text {
	float: left;
	font-size: 14pt;
	margin-top: -4px;
}

#settings-close-button {
	width: 20px;
	height: 20px;
	display: block;
	float: right;
	cursor: pointer;
}

#settings-content {
	box-sizing: border-box;
	padding: 10px;
}

#volume-gauge-container {
	width: 100%;
	height: 5px;
	background: #707070;
	margin-top: 5px;
	margin-bottom: 10px;
}

#volume-gauge {
	height: 100%;
	background: #f5f5f5;
}

.checkbox {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 3px;
}

.checkbox-box {
	height: 15px;
	width: 15px;
	box-sizing: border-box;
	border: 2px solid #f5f5f5;
	display: inline-block;
    vertical-align: middle;
	margin-top: -2px;
	background: #f5f5f5;
}

.checkbox-box.active {
	background: #020202;
}

#settings input, #settings select {
	border: none;
	border-bottom: 1px solid #707070;
	font-family: "PT Sans", "Open Sans", Sans-Serif;
	font-size: 12pt;
	box-sizing: border-box;
	padding: 5px;
	display: block;
	width: 100%;
	margin-bottom: 5px;
	outline: none;
	-webkit-outline: none;

	background: #020202;
	color: #f5f5f5;
}

#settings select option {
	font-family: "PT Sans", "Open Sans", Sans-Serif!important;
}

.settings-hint {
	color: #909090;
}

#container {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 0;

	width: 800px;
	margin: 0 auto;
}


#player-logo {
	height: 100%;
	width: 800px;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#player-vis {
	z-index: -10;
	display: block;
	position: absolute;
	width: 800px;
	height: 120px;
}


#logo {
	height: 60px;
	display: block;
	margin: 0 auto;
}


#provodach-text {
	width: 330px;
	height: 80px;
	padding: 0;
	display: inline-block;
}

#provodach-text path {
	color: #f5f5f5;
	fill: #f5f5f5;
}

#track {
	padding: 10px;
	font-size: 18pt;
	font-weight: 300;
	font-family: "Open Sans", Sans-Serif;
	text-decoration: none;

	display: block;
	box-sizing: border-box;
}

#player-bar {
	text-align: center;
	cursor: pointer;

	display: table-cell;
	vertical-align: middle;

	width: 100%;
	padding: 5px;
	box-sizing: border-box;

	height: 80px;
}

#player {
	height: 40px;
	width: 45px;
	padding-right: 15px;
	display: table-cell;
	border-top: 3px solid transparent;

}

.navi-link {
	height: 40px;
	font-size: 16pt;
	font-weight: 300;
	font-family: "Open Sans", Sans-Serif;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;

	border-bottom: 2px solid transparent;
}

.navi-link.active {
	border-bottom: 2px solid #f5f5f5;
}

.player-control-icon {
	display: inline-block;
}

.player-control-icon, .player-control-icon svg {
	/* border-top: 7px solid transparent; */
	height: 40px;
	stroke: #f5f5f5;
}

#player-control-playing {
	display: none; /* by default state is paused */
}






/* ================================================================= */

.chat-message {
	box-sizing: border-box;
	border-left: 3px solid transparent;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.chat-mention {
	cursor: pointer;
	color: #ABD998;
	text-decoration: none;
}

.chat-quote {
	color: #2CF572;
}

.chat-spoiler {
	color: #f0f0f0;
	background: #f0f0f0;
}

.chat-spoiler:hover {
	color: #020202;
}

.chat-time {
	color: #707070;
}

.chat-id {
	color: #909090;
	cursor: pointer;
}

.chat-name {
	color: rgb(28, 186, 225);
	cursor: pointer;
}

#chat-service-message {
	padding: 3px;
	margin-bottom: 2px;
	text-align: center;
	font-size: 10pt;
}

.chat-error {
	background: rgba(15, 2, 2, 0.6);
	color: #f50202;
	box-sizing: border-box;
	padding: 3px;
	margin-bottom: 2px;
}

input:-webkit-autofill {
    background-color: transparent!important;
}


.service-message {
	box-sizing: border-box;
	padding: 5px;
	padding-left: 8px;
	cursor: pointer;
}

.service-message.info {
	border-left: 3px solid #4AC9FF;
	color: #4AC9FF;
	background: rgba(2, 2, 2, 0.4);
}

.service-message.warning {
	border-left: 3px solid #FFFF4A;
	color: #FFFF4A;
	background: rgba(2, 2, 2, 0.4);
}

.service-message.error {
	border-left: 3px solid #FF051E;
	color: #FF051E;
	background: rgba(2, 2, 2, 0.4);
}

.service-message.neutral {
	border-left: 3px solid #f5f5f5;
	color: #f5f5f5;
	background: rgba(2, 2, 2, 0.4);
}

#chat-panel
{
	width: 800px;
	height: 70px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0; left: 50%;
	margin-left: -400px;
	border: none;
	background: rgba(2, 2, 2, 0.8);
}

#chat-readonly {
	display: none;
}

#chat-readonly {
	display: table-cell;
	width: 800px;
	height: 70px;
	vertical-align: middle;
	text-align: center;
}

#chat-text
{
	background: transparent;
	border: none;
	height: 65px;
	width: 100%;
	resize: none;
	overflow: auto;
	color: #f5f5f5;
	font-family: "PT Sans", "Open Sans", Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 13pt;
	outline: none;
	box-sizing: border-box;
	padding: 0px;
	-webkit-appearance: none;
}

input:-webkit-autofill {
    background-color: transparent!important;
}


/* ===== Crawley Specific CSS ===== */

.crawley-post {
	margin-bottom: 15px;
}

.crawley-post-metadata {
	width: 100%;
	text-align: right;
	color: #a0a0a0;
	font-size: 10pt;
	border-top: 1px dotted #909090;
	margin-top: 5px;
}

.crawley-post-image {
	max-width: 300px;
}

.crawley-post-audio {
	width: 300px;
}

/* ===== /Crawley Specific CSS ===== */

@media handheld, only screen and (max-width: 1024px)
{

	body {
		padding-top: 120px;
	}

	#provodach-text, #logo {
		height: 40px;
	}

	#track {
		font-size: 13pt;
		padding: 3px;
	}

	header {
		width: 100%;
		height: 110px;
		left: 0;
		margin: 0;
	}

	#player-bar {
		font-size: 12pt;
		padding: 1px;
		padding-left: 5px;
		-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
		height: 40px;
	}

	#player {
		height: 30px;
		width: 30px;
		padding-right: 7px;
	}

	.navi-link {
		height: 30px;
		font-size: 12pt;
		padding-right: 3px;
		padding-left: 3px;
	}

	.player-control-icon, .player-control-icon svg {
		height: 30px;
	}


	#settings {
		position: fixed;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		transform: none;
	}

	#settings-volume { /* mobile devices should use their internal volume settings */
		display: none;
	}

	#container {
		width: 100%;
		box-sizing: border-box;
		padding-left: 5px;
		padding-right: 5px;
	}


	#chat-panel {
		width: 100%;
		box-sizing: border-box;
		position: fixed;
		bottom: 0; left: 0;
		margin: 0;
	}

	#chat-text {
		padding: 5px;
		border-bottom: 1px solid #303030;
	}

	.service-message {
		padding-left: 5px;
	}

	.chat-message {
		padding: 0;
		padding-bottom: 3px;
	}

	.chat-time {
		display: none;
	}

	.chat-name, .chat-id {
		font-size: 10pt;
	}

	.chat-content {
		display: block;
	}
}